{% load static %}
{% block extrastyle %}{{ block.super }}<link rel="stylesheet" type="text/css" href="{% static 'override.css' %}" />{% endblock %}

<!DOCTYPE html>

<html lang="en">
    <head>
        <title>{% block title %}{% endblock %}</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link href="{% static 'encyclopedia/styles.css' %}" rel="stylesheet">
    </head>
    <body>
        <div class="row">
            <div class="sidebar col-lg-2 col-md-3">
                <img src="{% static 'images/wiki.png'%}" alt="wiki" style='height:110px; width:120px; margin-left: 50px; padding-bottom: 5px;'>
                <img src="{% static 'images/wikfnt.png'%}" alt="wiki" style='height:50px; width:175px; margin-left: 20px; padding-bottom: 5px; margin-bottom: 10px;'>
                <form action="{% url 'wiki:results' %}" method="post" style="margin-left: 8px;">
                    {% csrf_token %}
                   <!--<input class="search" type="text" name="q" placeholder="Search Encyclopedia">-->
                   {{searchbar}}
                </form>
                <div>
                    <a href="{% url 'wiki:index' %}"> Home</a>
                </div>
                <div>
                    <a href="{% url 'wiki:create' %}">Create New Page</a>
                </div>
                <div>
                    <a href="{% url 'wiki:randompg' %}">Random Page</a>
                </div>
                {% block nav %}
                {% endblock %}
            </div>
            <div class="main col-lg-10 col-md-9">
                {% block body %}
                {% endblock %}
            </div>
        </div>

    </body>
</html>